[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
bottle-websocket = "*"
prometheus-client = "*"
pyaudio = "*"
pymumble = {editable = true,git = "https://github.com/azlux/pymumble.git"}

[dev-packages]

