body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 21px;
}

.channelStats {
  margin-bottom: .5em;
  width: fit-content;
}

.channelStatsLabel {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: .2em;
}
.channelStatsName {
  margin: 0 2em 0 0;
}

.channelStats, .channelStatsName, .channelStatsUsers {
  font-size: 18px;
}

.channelStatsMeter {
  width: 20em;
}

#notconnected {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128,128,128,0.7);
  z-index: 2;
}
#notconnected div {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
}
